

.first_box{
    height: 500px;
    width: auto;
    background-image: url("brooke-cagle-9fHMo1-5Io8-unsplash.jpg");
    background-position-y: -700px;
    margin: 0;
    background-size: cover;
    box-sizing: border-box;
    color: #ffffff;
    padding-left: 600px;
    padding-right: 200px;
    padding-top: 100px;
}
.small-1{
    padding: 10px 25px;
    background-color: darkcyan;
}
.small-2{
    padding: 10px 25px;
    background-color: #000000;
    color: #ffffff;
}

.right{
    
    height: 250px;
    width: 200px;
    background-image: url("coffee.avif");
    background-size: cover;
    background-position-x: -90px;
}
#container{
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    padding-left: 50px;
}
#container div {
    
    flex-basis: 33%;
}
#container div.left {
    
    flex-basis: 25%;
}
#container div.right {
    
    flex-basis: 25%;
}




#container-2{
    height: 400px;
    background-image: url("koffee.jpg");
    background-size: cover;
    /* background-position-y: -170px; */
    box-sizing: border-box;
}
#container-2{
    display: grid;
    grid-template-rows: auto auto;
    color: #ffffff;
}

.header-1{
    text-align: center;
    padding-top: 50px;
}

.header-2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 70px;
}
.one, .two, .three, .four{
    border: 5px solid gold;

}


#container-3{
    height: 400px;
    border: 1px solid blueviolet;
    background-image: url("last.jpg");
    background-size: cover;
}
.inner{
    height: 300px;
    width: 800px;
    position: relative;
    top: 83px;
    left: 225px;
    background-color: gold;
    
}
.inner-2{
    text-align: center;
    
}
.inner-3{
    display: flex;
}
.inner-3 div{
    flex-basis: 33%;
}